/* You can add global styles to this file, and also import other style files */
/* SCSS RGB */
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
$prussian-blue: rgba(11, 57, 84, 1);
$medium-violet-red: rgba(185, 19, 114, 1);
$kobi: rgba(221, 154, 194, 1);
$powder-blue: rgba(187, 230, 228, 1);
$star-command-blue: rgba(34, 116, 165, 1);
.header{
    background-color:$medium-violet-red;
    font-family: 'Style Script';
    color:$powder-blue;
}
.footer{
    background-color: $kobi;
    
}
.letraFooter{
    font-size: 40px;

}
.btn-facebook {color:#fff!important; background-color:#3b5998!important;}
.btn-google-plus{color:#fff!important;background-color:#dd4b39!important;}
.btn-youtube{color:#fff!important;background-color:#ff4b39!important;}
.btn-linkedin{color:#fff!important;background-color:#007bb6!important;}
.btn-twitter{color:#fff!important;background-color:#55acee!important;}
.btn-mail{color:#fff!important;background-color:#512DA8!important;}
.titulo{
    font-family: 'Style Script', cursive;
}
.centro{
    text-align: center;
}
.imagenHeader{
    width: 300px;
    height: 300px;
    padding: 40px;
    
    
}
.divImagenHeader{
    position: absolute;
    left:20px;
}
.letraHeader{
    color: $kobi;
    font-size: 100px;
    text-align: center;
    
    
}
.divHeader{
    margin-top:50px;
}
.tituloHeader{
    padding-bottom: 0px;
    margin: 0px;
    
}
.pegado{
    margin: 0;
}
.cuerpo{
    font-family: 'Barlow Condensed', cursive;
}
.letraPru{
    color:$prussian-blue
}
.fondoPru{
    background-color: $prussian-blue;
}
.letraRed{
    color:$medium-violet-red;
}
.fondoRed{
    background-color: $medium-violet-red;
}
.letraKobi{
    color:$kobi
}


.fondoPowder{
    background-color: powderblue;

}
.fondoStar{
    background-color: $star-command-blue;


}
.letraStar{
    color:$star-command-blue;
}
.imagenFondo{
    
   
    margin-top: 180px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagenFondo::before{
    content: "";
    background-image: url("src/assets/images/banner.jpeg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
}
.letraHome{
    font-size: 60px;
    text-align: center;
    font-family: 'Barlow Condensed';
    padding: 20px;
    
    position: relative;
}
.letraDescrip{
    font-size: 30px;
    text-align: center;
    font-family: 'Barlow Condensed';
    padding: 10px;
    
    position: relative;
}
.letraTit{
    font-size: 50px;
    text-align: center;
    font-family: 'Barlow Condensed';
    padding: 10px;
    color:$medium-violet-red;
    position: relative;
}
.botonPedido{
    color:$prussian-blue;
    background-color: $powder-blue;
    font-size: 40px;
    margin-bottom: 100px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    border-radius: 12px;
}
.botonEnviar{
    color:$prussian-blue;
    background-color: $powder-blue;
    font-size: 20px;
    margin-bottom: 70px;
    margin-top: 70px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    border-radius: 12px;
}
.linea{
    border-bottom: 3px solid $kobi; 
    margin-bottom:10px;
}
.titulodiv{
    font-size: 60px;

}
.textodiv{
    font-size: 50px;

}


.grid-layout-custom{
    width: 50px;
    height: 50px;
    background: lightblue;
    color: #dd4b39;
  }
.linkdiv{
    font-size: 40px;
}
.imagendiv{
    margin:60px;
    height: 400px;
    width: 400px;
}
.imagenCatalogo{
   
    margin-top:80px;
    height: 250px;
    width: 250px;
}
.centrar{
    display: flex;
    justify-content: center;
    vertical-align: middle
}

.fondoLabels{
    background-color: powderblue;
}
.fondoDatos{
    position:absolute;
    left:100px;
}
.letraMasPeq{
    font-size: 30px;
}
