<div  class="textodiv cuerpo" >
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <h3 class="mover">Habilidades técnicas</h3>
  
    <mat-grid-list cols="7" rowHeight="100px" >
      <mat-grid-tile  colspan="1">
    
      </mat-grid-tile>
      <mat-grid-tile  colspan="2" class="fondoLabels"  >
        <label class="letraMasPeq" for="comentarios">
          CrediPyme
        </label>
    
      </mat-grid-tile>
      <mat-grid-tile  colspan="1">
    
      </mat-grid-tile>
      <mat-grid-tile  colspan="2" class="fondoLabels" >
        <label class="letraMasPeq" for="comentarios">
          Consumo y Libranza
        </label>
    
      </mat-grid-tile>
      
     
      <mat-grid-tile  colspan="1">
    
      </mat-grid-tile>
      <mat-grid-tile  colspan="1">
    
      </mat-grid-tile>
      <mat-grid-tile rowspan="9" colspan="2" > 
        <div>
          <ul>
            <li>
              Pruebas automatizadas con Cucumber y Screenplay en desktop y mobile (android). 
            </li>
            <li>
              Desarrollo de un microservicio utilizando arquitectura limpia y programación reactiva.

            </li>
            <li>
              Pruebas de Karate
            </li>
          </ul>
          
        </div>
      </mat-grid-tile>
      <mat-grid-tile  colspan="1">
    
      </mat-grid-tile>
      <mat-grid-tile rowspan="9" colspan="2" >
        <div>
          <ul>
            <li>
              Pruebas automatizadas en iphone
            </li>
            <li>
              Adecuación de pipelines
            </li>
            <li>
              Ejecución de pruebas de performance

            </li>
            <li>
              Curso de Cloud Practitioner
            </li>
            <li>
              Curso de Kubernetes
            </li>
            <li>
              Autoestudio de DDD
            </li>
          </ul>
        </div>
      </mat-grid-tile>
     
  
    </mat-grid-list>
   
  
  </div>
  <div class="centrar">
    <button  class="botonEnviar" type="submit" routerLink='/home'>Regresar</button>
  </div>
</form>

</div>




