<div 
     fxLayout="column"
     fxLayoutGap="10px">

  

  <div   fxLayout="row" fxLayoutAlign="space-evenly center" class="cuerpo textodiv">
    <h3>Habilidades blandas</h3>
    <div   >
      <ul>
        <li>
          Ser mas participativa y preguntar para enteder mas a fondo las experiencias
        </li>
        <li>
          Desarrollar mis habilidades de Lider siendo Po por 2 semanas
        </li>
        <li>
          Manejo del estres
        </li>
        <li>
          Aprender a transmitir conocimiento y ser paciente
        </li>
      </ul>
    </div>
   
    
  </div>

</div>