<div  class="textodiv cuerpo" >
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <h3>Habilidades técnicas</h3>
  
    <mat-grid-list cols="6" rowHeight="100px" >
      <mat-grid-tile  colspan="1">
    
      </mat-grid-tile>
      <mat-grid-tile  colspan="2" class="fondoLabels">
        <label class="letraMasPeq" for="comentarios">
          CrediPyme
        </label>
    
      </mat-grid-tile>
      <mat-grid-tile  colspan="2" class="fondoLabels">
        <label class="letraMasPeq" for="comentarios">
          Consumo y Libranza
        </label>
    
      </mat-grid-tile>
      
     
      <mat-grid-tile  colspan="1">
    
      </mat-grid-tile>
      <mat-grid-tile  colspan="1">
    
      </mat-grid-tile>
      <mat-grid-tile rowspan="2" colspan="2">
        <div>estas son mis habilidades tecnicas:
          Pruebas automatizadas con Cucumber y Screenplay. 
        </div>
      </mat-grid-tile>
      <mat-grid-tile rowspan="2" colspan="2">
        <div>estas son mis habilidades tecnicas</div>
      </mat-grid-tile>
     
  
    </mat-grid-list>
   
  
  </div>
  <div class="centrar">
    <button  class="botonEnviar" type="submit">Regresar</button>
  </div>
</form>

</div>




