<div 
     fxLayout="column"
     fxLayoutGap="10px">

  

  <div   fxLayout="row" fxLayoutAlign="space-evenly center" class="cuerpo textodiv">
    <h3 class="mover">Habilidades blandas</h3>
    <div  class="espacio" >
      <ul>
        <li>
          Fui más participativa y busqué aclarar mis dudas respecto al funcionamiento de las experiencias por medio de preguntas. 
        </li>
        <li>
          Tuve la oportunidad de desarrollar mis habilidades de lider siendo Product Owner por 2 semanas
        </li>
        <li>
          Aprendí a manejo del estres gracias a las veces que estuve de Stand By
        </li>
        <li>
          Aprendí a transmitir conocimiento y ser más paciente
        </li>
      </ul>
      
    </div>
    
   
    
  </div>

</div>
<div class="centrar">
  <button  class="botonEnviar" type="submit" routerLink='/home'>Regresar</button>
</div>